  <div class="unlock">
    <button class="unlock-screen-btn"><i class="fa fa-lock" aria-hidden="true"></i></button>
    <button class="lock-screen-btn"><i class="fa fa-unlock" aria-hidden="true"></i></button>
    <div class="pin-popout flex-column">
      <input class="pin-input" type="text">
      <div class="flex-row">
        <button class="pin-btn">Submit Pin</button>
        <div class="lock-status"></div>
      </div>
    </div>
  </div>
