<h1>Waitlist</h1>

<form id="add-party-form" method="post" action="/waittimes">
  <input type="text" name="name" placeholder="Name"><br>
  <input type="number" name="party-size" placeholder="Party Size"><br>
  <input type="tel" name="phone-number" placeholder="Phone Number"><br>
  <input type="submit" value="Add to Waitlist">
</form>
  <button id="add-party-button">Add Party</button>
<div class="container">
<ul class="waitlist">
  <li class="waittime-item"></li>
  <li class="waittime-item"></li>
  <li class="waittime-item"></li>
  <li class="waittime-item"></li>
  <li class="waittime-item"></li>
  <li class="waittime-item"></li>
  <li class="waittime-item"></li>
  <li class="waittime-item"></li>
  <li class="waittime-item"></li>
  <li class="waittime-item"></li>
</ul>
</div>
