<h1>Waitlist</h1>

<form id="add-party-form" method="post" action="/waittimes">
  <input type="text" name="name" id="name" placeholder="Name"><br>
  <input type="number" id="party_size" name="party_size" placeholder="Party Size"><br>
  <input type="tel" id="phone_number" name="phone_number" placeholder="Phone Number"><br>
  <input type="submit" value="Add to Waitlist">
</form>
  <button id="add-party-button">Add Party</button>
<div class="container">
<ul class="waitlist">
  <li id="waittime-1" class="waittime-item">
    <span>Party Name - </span>
    <span>Wait Time - </span>
    <%# Trigger an SMS message.%>
    <button class="almost-ready">Table Almost Ready!</button>
    <%# Update Waittime object. Remove waittime-item from list. %>
    <form class="waittime-seat-form" action="/waittimes/1">
      <button type="submit">Seat this Party</button>
    </form>
  </li>
  <li id="waittime-2" class="waittime-item">
    <span>Party Name - </span>
    <span>Wait Time - </span>
    <%# Trigger an SMS message.%>
    <button value="123456789" class="almost-ready">Table Almost Ready!</button>
    <%# Update Waittime object. Remove waittime-item from list. %>
    <form class="waittime-seat-form" action="/waittimes/1">
      <button type="submit">Seat this Party</button>
    </form>
  </li>
  <li class="waittime-item"></li>
  <li class="waittime-item"></li>
  <li class="waittime-item"></li>
  <li class="waittime-item"></li>
  <li class="waittime-item"></li>
  <li class="waittime-item"></li>
  <li class="waittime-item"></li>
  <li class="waittime-item"></li>
</ul>
</div>
