<h1>Waitlist</h1>

<form id="add-party-form">
  <input type="text" name="">
  <button type="submit">Add Party</button>
</form>
<div class="container">
<ul class="waitlist">
  <li class="waittime-item">
    <span>Party Name - </span>
    <span>Wait Time - </span>
    <%# Trigger an SMS message.%>
    <button type="submit">Table Almost Ready!</button>
    <%# Update Waittime object. Remove waittime-item from list. %>
    <form class="waittime-seat-form" action="/waittimes/1">
      <button type="submit">Seat this Party</button>
    </form>
  </li>
  <li class="waittime-item"></li>
  <li class="waittime-item"></li>
  <li class="waittime-item"></li>
  <li class="waittime-item"></li>
  <li class="waittime-item"></li>
  <li class="waittime-item"></li>
  <li class="waittime-item"></li>
  <li class="waittime-item"></li>
  <li class="waittime-item"></li>
</ul>
</div>
