<div class="mobile-content-wrapper">
  <div class='navbar'>
    <h1>Ramen, Ho!</h1>
  </div>
  <div class="restaurants-wrapper">
      <% @restaurants.each do |restaurant| %>
        <div id='restaurant-<%=restaurant.id %>'>
          <p>
            <%= restaurant.name %>
            <span class="waittime-display"><%= fake_wait(restaurant.id) %> minutes</span>
          </p>
        </div>
      <% end %>
  </div>

</div>
