<div class="mobile-content-wrapper">
  <div class='navbar'>
    <h1>Ramen, Ho!</h1>
  </div>
  <div class="restaurants-wrapper">
      <% @restaurants.each do |restaurant| %>
        <div class='restaurant-<%=restaurant.id %>'>
          <p><%= restaurant.name %></p>
          <p class="waittime-display"></p>
        </div>
      <% end %>
  </div>

</div>
