.unlock, .admin-dashboard {
  @extend .icon-size;
  position: fixed;
  button {
    @include button(dimgray);
    @extend .fit-to-parent;
    background-color: dimgray;
  }
}
.unlock { top: 10px; right: 10px;
  .pin-input, .pin-btn { width: 150px; } }
.admin-dashboard { bottom: 10px; right: 10px; }
.lock-status {
  @extend .error;
  padding: 10px; margin: 10px 0;
}

// Popouts
.pin-popout, .admin-popout {
  @extend .emphasize;
  @include shadow(3px);
  background-color: dimgray;
  position: inherit;
  top: inherit; bottom: inherit;
  z-index: 2;
  padding: 10px;
  right: 75px;
  * { margin: 5px 10px; }
  button, a { @include button(orange); font-size: 24px; }
}
.admin-popout {
  @extend .flex-column;
  a { padding: 10px; color: white; }
}
