.new_admin-container {
  @extend .flex-column;
  border: solid 1px black;
  background-color: #fff;
  padding: 20px 40px;
  box-shadow: 2px 2px grey;
  >* { margin: 10px 0; }
  h2 {
    font-size: 2em;
    margin: 10px 0;
  }
  form {
    @extend .flex-column;
    align-items: flex-start;
    >* { margin: 5px 0; }
    .actions { align-self: center;
      input {
        font-size: 1.2em;
        background-color: seagreen; }
    } }
    a {
      @extend .buttonize;
      background-color: cadetblue;
      border: 2px lightgrey solid;
      font-size: 1.2em;
      padding: 5px;
    }
}
