.sessions.new .page-wrapper {
  // background-color: orange;
}

.new_admin-container {
  @extend .flex-column;
  border: solid 1px black;
  background-color: #fff;
  padding: 20px 40px;
  box-shadow: 2px 2px grey;
  h2 {
    font-size: 2em;
    margin: 10px 0;
  }
  form {
    @extend .flex-column;
    align-items: flex-start;
    .actions { align-self: center;
      input { @include button(orange);
        width: 100px;
        } } }
    a {
      @extend .buttonize;
      @include button($pewter-blue);
      font-size: 1.2em;
      padding: 6px 10px;
    }
}
