// ========================================
//  VARIABLES, MIXINS, & EXTENSIONS
// ========================================

// a. Variables
$sample-img: image-url('ramen.jpg');

// Grid setup
$restaurant-layout-grid: (
  columns: 1,
  gutter: 20px,
);

// Structural Classes
// ========================================

.restaurants-wrapper {
  @include grid-container;
  padding: 125px;
  color: white;
}

.restaurant-tab {
  height: 150px;
  background-position: center;
  background-color: rgba(88, 95, 107, 0.6);
  //filter: opacity(50%);
}

.restaurant-tab-container {
  @include grid-column(1, $restaurant-layout-grid);
  @include grid-collapse;
  margin-bottom: 2rem;
  text-align: center;
}

.restaurant-info {
  background-color: white;
  height: 250px;
}

// General Styling
// ========================================

.restaurant-name {
  font-size: 40px;
  padding-top: 20px;
}

.navbar {
  text-align: center;
}

footer {
  text-align: center;
}

// Restaurant Specific Styling
// ========================================

#restaurant-1 {
    background-image: $sample-img;
}


