// ========================================
// I. TROUBLESHOOTING & RESETS
// ========================================
// body * { border: dashed 1px red; }
button { border: none; }
li { list-style-type: none; }
a { color: black; text-decoration: none; }


// ========================================
// II. VARIABLES, MIXINS, & EXTENSIONS
// ========================================

// a. Variables
$primary-font: 'Work Sans', 'Helvetica', sans-serif;
$pewter-blue: #91AEC1;
$gainsboro: #D7DDDD;
$lightgray: #C5D2D6;

// b. Mixins

// c. Extensions
.flex-column {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex-row {
  align-items: center;
  display: flex;
  justify-content: center;
}
.fit-to-parent { height: 100%; width: 100%; }
.center { left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%); }
.buttonize {
  border-radius: .5em;
  color: white;
  font-weight: bolder;
  text-shadow: .05em .05em black;
}



// III. General Tags
// ========================================
body { font-family: 'Work Sans'; letter-spacing: -.05em; }
body, p, li, span, button, input { font-size: 1.2em; }
h1 { font-size: 5em; font-weight: bolder; letter-spacing: -.05em; }
div { box-sizing: border-box; }
button, input[type='submit'] { @extend .buttonize }

// IV. Styling Classes
// ========================================


// V. Structural Classes
// ========================================
// Application-wide
.page-wrapper {
  background-color: gainsboro;
  min-height: 100vh; width: 100%;
}
.content-wrapper {
  background-color: whitesmoke;
  height: 100%; width: 95%;
  padding: 2%;
}

// Welcome (Waitlist) Page
.waitlist-header {
  @extend .flex-row;
  justify-content: space-between;
}

.form-container {
    @extend .flex-column;
    @extend .center;
    position: fixed;
    font-size: 22px;
    height: 66%; width: 66%;
    border: solid 2px black;
    background-color: $pewter-blue;
    box-shadow: 10px 10px 20px dimgrey;
    form { @extend .flex-column; @extend .fit-to-parent; position: absolute; top: 0;
      div { @extend .flex-row }
      .errors {
        background-color: orangered;
        width: 75%;
        padding: 10px 0 10px 40px;
        color: white;
        display: none;
        li {
          list-style-type: disc;
          margin: 10px 0;
          font-size: 1.2em; font-weight: bolder;
        }
    }
  }
    #name, #party_size, #phone_number, #add-to-waitlist {
      box-sizing: border-box;
      height: 100px; width: 300px;
      margin: 40px 20px; padding: .2em .5em;
      font-size: 30px;
    }
    #add-to-waitlist { background-color: orange; }
    #cancel-party-button {
      background-color: dimgray;
      position: relative;
      left: calc(100% - 60px); top: 10px;
      height: 50px; width: 50px;
      z-index: 3;
    }
}

.add-party {
  @extend .flex-row;
  #add-party-button {
    background-color: orange;
    box-shadow: inset 0px -10px darken(orange, 20%);
    border-radius: 20px;
    letter-spacing: 0em;
    line-height: 1em;
    margin: 50px 0 0 0;
    font-size: 2.5em;
    height: 150px;
    width: 300px;
    }
}

.waitlist {
  display: table;
  width: 100%;
  .waittime-item {
    border: solid 1px darkgrey;
    display: table-row;
    justify-content: space-between;
  }
  * {
    // @extend .flex-row;
    text-align: center;
    display: table-cell;
    padding: .2em;
  }
  li { height: 3em; }
  li:nth-child(even) { background-color: $gainsboro; }
  li:nth-child(odd) { background-color: $lightgray; }
  li.waittime-headers {
    background-color: $pewter-blue;
    font-size: 1.5em;
    letter-spacing: .05em;
    color: white;
    text-shadow: 2px 2px black;
  }
  .almost-ready, .seat-party-btn, .seat-party-confirm, .almost-ready-confirm {
    color: white;
    font-size: 110%;
    height: 2em;
    }
  .almost-ready {
    background-color: cadetblue;
    box-shadow: inset 0px -3px darken(cadetblue, 40%);
  }
  .seat-party-btn {
    background-color: seagreen;
    box-shadow: inset 0px -3px darken(seagreen, 40%);
  }
  .almost-ready-confirm, .seat-party-confirm {
    background-color: tomato;
    box-shadow: inset 0px -3px darken(tomato, 40%);
  }
}

.waittime-headers {
  display: table-row;
  font-size: 1.3em;
  font-weight: bolder;
  font-style: italic;
  border-bottom: solid 2px black;
  padding: 10px;
  * {
    vertical-align: middle;
    border-bottom: solid 2px black;
    padding: 5px 0;
  }
}

.waittime-item > .status {
  @extend .flex-row;
  .customer-visible {
    .ready { color: red; }
  }
}

.waittime-customer { width: 60%; text-align: left; padding-left: 20px; }
.waittime-party-size { width: 20%; }
.waittime-bookend { width: 20%; }


// Default welcome page buttons to hidden (needed to solve presumed turbolinks issue)
.table-ready-btn, .employee-visible, .pin-input, .pin-btn, .lock-screen-btn, .lock-status, .form-container, .errors, .almost-ready-confirm, .seat-party-btn, .seat-party-confirm, .customer-visible .ready {
  display: none;
}
